.podium{
    position: relative;
    width: 200px;
    height: 300px;
    border: solid 1px red;
}

.second{
   height: 75%;
   margin-bottom: -75px;
   order: 1;
}

.third{
    height: 50%;
    margin-bottom: -150px;
    order: 3;
}

.first{
    order: 2;
}
