@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.podium{
   display: flex;
    
}

.second{
    order: 0;
    margin-top: auto;
    /* height: 200px; */
}

.third{
    order: 2;
    margin-top: auto;
}

.first{
    order: 1;
}

h2{
    /* display: flex; */
    position: relative;
    top: -1px;
    /* border: 1px solid black; */
    inline-size: 90px;
    overflow-wrap: break-word;
    text-align: center;
    font-family: "Rubik";
    color: white;
    
}
